@import "../../styles/colors";

.title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: $title-light-color;

    @media (min-width: 600px) {
        font-size: 3rem;
    }
}

.greeting {
    transition: width 0.2s;
}
.slide {
    display: inline-block;
    transition: all ease .4s;
}
.slide-enter {
    opacity: 0;
    transform: translateY(30px);
}
.slide-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

// 

.slider {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
    transition: all 1s;
}

.slider.close {
    top: 100%;
    height: 0;
}