// COLORS
$bg-dark-color: #22292f;
$bg-light-color: #fffbf3;
$body-dark-color: #444;
$body-light-color: #ced8de;
$title-dark-color: #444a51;
$title-light-color: #fff;
$react-color: #61dafb;
$vue-color: #38c172;