@import "../../styles/colors";

.title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: $title-light-color;

    @media (min-width: 600px) {
        font-size: 3rem;
    }
}

// Transition Greeting
.fade-enter .greeting {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active .greeting {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit .greeting {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active .greeting {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active .greeting,
.fade-exit-active .greeting {
    transition: opacity 500ms, transform 1000ms;
}
